/* ===== HEADER ===== */
header {
  padding: var(--padding-base);
  background-color: var(--color-fondo-claro);
}
.contenedor__titulo {
  font-size: 28px;
}

.contenedor__nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contenedor__nav-link {
  text-decoration: none;
  color: var(--color-negro);
}

.contenedor__nav-button {
  background-color: var(--color-fondo-claro);
  color: var(--color-negro);
  border: 1px solid var(--color-negro);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor__nav-button:last-of-type {
  display: none;
}

header nav button:hover {
  background-color: var(--color-negro);
  color: var(--color-blanco);
}
